/* 全局基础样式 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}



/* 主内容 */
.container {
  color: #ffffff;
  width: 800px;
  height: 800px;
  margin: 0 auto;       /* 水平居中 */
  box-sizing: border-box;
  overflow: hidden;      /* 隐藏溢出部分 */
  position: relative;   /* 为子元素绝对定位提供参考 */
  background: url("./image/bg.jpg") center/cover no-repeat;
}

/* LOGO 样式 */
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0; 
  margin: 0;
}

/* 图片保持原始比例，且不会超出 .content 容器 */
.logo img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.title {
  text-align: right;        /* 文本右对齐 */
  position: absolute;       /* 绝对定位 */
  right: 45px;              /* 距离右侧 45px */
  top: 40px;                /* 距离顶部 55px */
  

}

.maintile{
  font-size: 52px;          /* 文字尺寸 */
  font-weight: bold;        /* 加粗显示 */
  background: linear-gradient(to bottom, #fefdf8, #f7efc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.benefit {
  height: 99px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}

/* 左侧背景 */
.benefit::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background: url("./image/left-Bracket.png") center/contain no-repeat;
  z-index: 0;
}

/* 右侧背景 */
.benefit::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background: url("./image/right-Bracket.png") center/contain no-repeat;
  z-index: 0;
}

.benefit .text{
  font-size: 30px;
  color: #ffffff;

}

.benefit .hilight{
  font-size: 37px;
  background: linear-gradient(to bottom, #fefdf8, #f7efc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 37px;
}

.product_container {
  position:absolute;
  width: 300px;
  height: 500px;
  top: 135px;
  left: 185px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.product img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gifts {
  width: 260px;
  height: 355px;
  position: absolute;
  top: 285px;
  right: 45px;
  background: url("./image/gifts-bg.png") no-repeat;
}

.giftstitle{
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  ;
}

.giftstitle img {
  display: inline;
  vertical-align:text-bottom;
  width: 30px;
  height: 28px;
  margin-right: 5px;
}

.giftproducts {
  height: 180px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.giftproducts img {
  max-width: 45%;
  max-height: 100%;
  object-fit: contain;
}

.remark {
  margin-top: 5px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.belt {
  position: absolute;
  width:100%;
  top: 160px;
  display:block;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.giftprice {
  position: absolute;
  bottom: 0;
  display: flex;
  text-align: center;
  font-size: 20px;
  color: #9e1a0e;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.giftprice img {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align:text-bottom;
}

.bottombar {
  width: 800px;
  height: 204px;
  background: url("./image/bottombar.png") center/cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

.price_container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 168px;           /* 固定高度 */
  align-items: center;     /* 垂直居中内容 */
  justify-content: center; /* 水平居中内容 */
  padding-left: 10px;         /* 视需要调整内边距 */
  white-space: nowrap;     /* 防止换行 */
  text-align: center;
  background: transparent;
}

.originalprice {
  margin-top: 5px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: line-through;
}

.pricetitle{
  font-size: 26px;
  line-height: 30px;
}

.price{
  margin-top: 3px;
  line-height: 90px;
  font-style: italic; 
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -5px;
  background: linear-gradient(to bottom, #fefdf8, #f7efc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(3px 3px 3px rgba(5, 73, 35, 0.6));
}


.sign {
  font-size: 43px;
  font-style:normal; 
}

.decimal {
  font-size: 80px; 
  padding-right: 12px;
}

.bottominfo {
  position: absolute;
  margin-left: 260px;
  margin-top: 55px;
  text-align:left;
  width: auto;  /* 不限制宽度，让内容自然展开 */
  min-width: 0;  /* 允许收缩 */
}

.date{
  font-size: 30px;
  color: #964605;
  line-height: 48px;
}

.salespoint{
  margin-left: 30px;
  font-size: 55px;
  font-weight: bold;
  line-height: 90px;
  white-space: nowrap;  /* 防止换行 */
  background: linear-gradient(to bottom, #fefdf8, #f7efc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
